<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>RegisterServlet</servlet-class>
  </servlet>
  
  
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NoteBookOperation</servlet-name>
  	<display-name>NoteBookOperation</display-name>
  	<description></description>
  	<servlet-class>business.NoteBookOperation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NoteBookServlet</servlet-name>
  	<display-name>NoteBookServlet</display-name>
  	<description></description>
  	<servlet-class>NoteBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddNoteBookServlet</servlet-name>
  	<display-name>AddNoteBookServlet</display-name>
  	<description></description>
  	<servlet-class>AddNoteBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteNoteBook</servlet-name>
  	<display-name>DeleteNoteBook</display-name>
  	<description></description>
  	<servlet-class>DeleteNoteBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetNotesServlet</servlet-name>
  	<display-name>GetNotesServlet</display-name>
  	<description></description>
  	<servlet-class>GetNotesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddNotesServlet</servlet-name>
  	<display-name>AddNotesServlet</display-name>
  	<description></description>
  	<servlet-class>AddNotesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteNotes</servlet-name>
  	<display-name>DeleteNotes</display-name>
  	<description></description>
  	<servlet-class>DeleteNotes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetSingleNotesServlet</servlet-name>
  	<display-name>GetSingleNotesServlet</display-name>
  	<description></description>
  	<servlet-class>GetSingleNotesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditNotesServlet</servlet-name>
  	<display-name>EditNotesServlet</display-name>
  	<description></description>
  	<servlet-class>EditNotesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditNoteBookServlet</servlet-name>
  	<display-name>EditNoteBookServlet</display-name>
  	<description></description>
  	<servlet-class>EditNoteBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditUserServlet</servlet-name>
  	<display-name>EditUserServlet</display-name>
  	<description></description>
  	<servlet-class>EditUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetNotificationsServlet</servlet-name>
  	<display-name>GetNotificationsServlet</display-name>
  	<description></description>
  	<servlet-class>GetNotificationsServlet</servlet-class>
  </servlet>
  
 
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NoteBookOperation</servlet-name>
  	<url-pattern>/NoteBookOperation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NoteBookServlet</servlet-name>
  	<url-pattern>/NoteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddNoteBookServlet</servlet-name>
  	<url-pattern>/AddNoteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteNoteBook</servlet-name>
  	<url-pattern>/DeleteNoteBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetNotesServlet</servlet-name>
  	<url-pattern>/GetNotesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddNotesServlet</servlet-name>
  	<url-pattern>/AddNotesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteNotes</servlet-name>
  	<url-pattern>/DeleteNotes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetSingleNotesServlet</servlet-name>
  	<url-pattern>/GetSingleNotesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditNotesServlet</servlet-name>
  	<url-pattern>/EditNotesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditNoteBookServlet</servlet-name>
  	<url-pattern>/EditNoteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditUserServlet</servlet-name>
  	<url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetNotificationsServlet</servlet-name>
  	<url-pattern>/GetNotificationsServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
